<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

<div class="row">
    <div class="col-1">
        <nav class="main-menu">
            <ul>
                <li><a href="https://jbfarrow.com"><i class="fa fa-home fa-2x"></i></a> </li>
                <li class="has-subnav"><a href="#"><i class="fa fa-comments fa-2x"></i></a></li>
                <li><a href="#"><i class="fa fa-cogs fa-2x"></i></a></li>
                <li><a href="#"><i class="fa fa-map-marker fa-2x"></i></a></li>
                <li><a href="#"><i class="fa fa-info fa-2x"></i></a></li>
            </ul>
            <ul class="logout">
                <li><a href="" (click)="onLogout()"><i class="fa fa-power-off fa-3x"></i></a></li>  
            </ul>
        </nav>
    </div>
    <div class="col-10">
        <div class="container-fluid text-white big-cont">
            <h4>Complete your Profile now for the full experience . <a href="/register/{{uid}}">Register</a> ! </h4>

            <div class="card mask-custom mb-3" *ngIf="items$ | async as items" >
                <img class="rounded-circle"  width="100px" height="100px"  src={{data.photo}} >
                <h4>Welcome, {{data.fname}} {{data.lname}}</h4>
                
            </div>
            <div class="card mask-custom mb-3">

            </div>

            <footer>
                <i class="fa fa-apple" id="apple"></i>
                <i class="fa fa-twitter" id="twitter"></i>
                <i class="fa fa-github-square github" id="github"></i>
                <i class="fa fa-facebook-square" id="facebook"></i>
            </footer>

        </div>
    </div>
</div>

</body>

</html>


<router-outlet></router-outlet>
    