body{
    background: url('/assets/images/snow-white.jpg');
    background-size: cover;
    height: 100vh;
}

.form-bgd{
    top: 50%;
    left: 50%;
    position: absolute;
    /* margin: auto; */
    margin: -10rem 0 0 -15rem;
    width: 450px;
    background-color: rgba(12, 12, 12);
    backdrop-filter: blur(10px);
    padding: 2%;
}