<body>
    <form class="form-bgd text-white" (submit)="ForgotPassword()">
        <h6 class="mb-4">Please enter your Email to request a password reset</h6>
        <div class="form-group mb-3">
            <input class="form-control" type="email" [(ngModel)]="email" name="email" placeholder="Enter your email" required>
        </div>
        <button class="btn btn-outline-light mt-3" type="submit">Send Email</button>
        <p class="mt-4">Go Back to -> <a href="/sign-in"> Sign In</a></p> 
    </form>
</body>

<router-outlet></router-outlet>
