body{
    background: url('/assets/images/yellow-bg.jpg');
    background-size: cover;
    padding: 2%;
    height: 100vh;
}

.form-bgd{
    width: 450px;
    background-color: rgb(255, 204, 40);
    padding: 2%;
}